<% content_for :title, "About Us" %>

<div class="container mx-auto py-12 px-4 sm:px-6 lg:px-8">
  <h1 class="text-3xl sm:text-4xl font-bold text-center mb-8 text-green-600">About Zaytoon Restaurant</h1>
  <div class="text-lg sm:text-xl text-gray-700 leading-relaxed space-y-12">
    <div class="flex flex-col md:flex-row items-center">
      <div class="md:w-1/2 mb-6 md:mb-0 flex justify-center">
        <img src="https://www.zaytoonwpg.com/wp-content/uploads/2021/08/zaytoon_logo-01.png" alt="Zaytoon Restaurant" class="rounded-lg shadow-md w-2/3 h-auto object-cover">
      </div>
      <div class="md:w-1/2 md:pl-8">
        <p>At Zaytoon, we bring flavors from across the Middle East with a modern and borderless twist. Our vision is to incorporate traditional flavors into creative dishes that cater to all food palates and dietary restrictions. We use the freshest ingredients and source all of our merchandise locally from Winnipeg’s small & medium businesses.</p>
        <br>
        <p>We are committed to delivering the cuisine of the Middle Eastern–Mediterranean countries through our welcoming and inviting environment right in the heart of Osborne Village.</p>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold mb-4 text-green-600">Specialists</h2>
      <h3 class="text-xl font-bold mb-2">Bassma Zahran</h3>
      <p class="text-gray-700 mb-2">A hardworking mother of 5 who immigrated to Canada in 1999, Bassma accumulated a plethora of experience recreating authentic family recipes passed down from one generation to the next. She hopes to share her passion for cooking and creating Middle Eastern foods with the local community.</p>
      <br>
      <h3 class="text-xl font-bold mb-2">Mohammed Watan</h3>
      <p class="text-gray-700">Mohammed, a father of 2, immigrated to Canada from Jordan in 2018. He quickly adjusted to the community with his bubbly personality and has since opened a highly popular and successful cafe and hookah lounge in the Southern Kenaston neighborhood.</p>
    </div>
  </div>
</div>
